<div id="avatar-container">
  <img id="avatar-img" #avatarImg class="avatar-img"
    [src] = "profilePic && profilePic !== '' ? profilePic : 'https://icon-library.net/images/no-image-available-icon/no-image-available-icon-6.jpg'"
    (mouseenter)="addingOverlay = true" alt = "profile picture"
  >
</div>

<div *ngIf = "addingOverlay" (mouseleave)="addingOverlay = false">
  <app-custom-button [buttonConfig] ="{text:'Select Your Profile Picture'}" (click)="openFile(fileInput)"></app-custom-button>
  <app-custom-button *ngIf="profilePic !== '' && profilePic !== 'https://icon-library.net/images/no-image-available-icon/no-image-available-icon-6.jpg'" [buttonConfig] = "{text: 'Delete Current Picture'}" (click)="deletePic()"></app-custom-button>
  <input hidden="hidden" #fileInput type="file" (change) = "addProfilePic($event)" name="avatar" accept="image/png, image/jpeg">
</div>

<span *ngFor = "let button of userBarConfig.buttonsConfig">
  <app-custom-button [buttonConfig] = "button" (click) = "clickAction(button.path!)"></app-custom-button>

</span>


