<!-- Dates Selection -->
<div *ngIf ="!datesSelected">
  <h2>Please Select the Dates</h2>
  <!--dates selector-->
  <tr>
    <label>Start Date</label>
    <input type="date" name="StartDate" [(ngModel)] = "book.startDate">
  </tr>

  <tr>
    <label>End Date</label>
    <input type="date" name="EndDate" [(ngModel)] = "book.endDate">
  </tr>

  <app-custom-button *ngIf = "book.startDate != undefined && book.endDate != undefined" [buttonConfig] = "{text:'Select'}" (click)="confirmDates()"></app-custom-button>
</div>

<!-- Cars Selection -->
<div *ngIf="datesSelected && availableCars!=undefined" >
  <h2>Please Select your car now</h2>

  <app-custom-table  [tableConfig]="carTableConfig" [data]="availableCars" (getTableData)="clickAction($event)"></app-custom-table>

  <app-custom-button [buttonConfig] = "{text: 'Select Other Dates'}" (click)="reselectDates()"></app-custom-button>

</div>

<div>
  <app-custom-button [buttonConfig] = "{text:'Go Back', icon:faArrowAltCircleLeft}" (click)="back()"></app-custom-button>
</div>




